.wrap{
    margin: auto;
    width: 960px;
}
.header{
    box-sizing: border-box;
    height: 100px;
    background-color: #F00;
    margin-bottom: 20px;
}
.header img{
    float: left;
}
.header ul li{
    padding: 5px;
    color: #FFF;
    float: right;
}
.header ul{
    padding-top: 20px;
    padding-right: 20px;
}
.main{
 
}
.menu{
    box-sizing: border-box;
    padding: 10px;
    color: #FFF;
    float: left;
    background-color: #000;
    width: 170px;
}
.content{
    float: left;
    background-color: #F99;
    width: 680px;
    margin: 0px 5px ;
    box-sizing: border-box;
}
.aside{
    color: #FFF;
    float: left;
    background-color: #00F;
    width: 100px;
}
.footer{
    margin-top: 20px;
    float: left;
    width: 960px;
    background-color: #aaa;
    height: 50px;
}